In [ ]:
select 1 
-- 100 wierszy, tylko liczba 1
from table(generator(rowcount => 1000));

In [ ]:
-- randstr - random string
-- || - and
select randstr(10, random()) || ' ' || randstr(15, random()) as name,
 floor(abs(normal(40, 10, random())))as age
 from table(generator(rowcount => 1000));

In [ ]:
create database test

In [ ]:
create or replace table test.public.fake as 
select randstr(10, random()) || ' ' || randstr(15, random()) as name,
 floor(abs(normal(40, 10, random())))as age
 from table(generator(rowcount => 1000));

In [ ]:
select * from test.public.fake
sample (100 rows) -- odda randomowe 100 wierszy

In [ ]:
-- synthethic data na bazie istniejacej tabeli
-- https://docs.snowflake.com/en/sql-reference/stored-procedures/generate_synthetic_datawi